# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
*.local

# Testing
coverage
playwright-report
test-results

# Logs
logs
*.log
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db

# Temporary files
*.tmp
*.temp
.last-run.json